<p>Epiquestion works hard around the clock to maintain our site.</p>

<div class="row">
<div class="col-md-4">
<address>
  <strong>Epiquestion</strong><br>
  1234 Example Street<br>
  Antartica, Example 0987<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">exam.ple@example.com</a>
</address>
</div>
</div>
